.conteudoScreen3 {
  width: 100%;
  margin: 0 auto;
  margin-top: 69px;
  padding-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

ul {
}

h1 {
  font-size: 23px;
}
h2{
    font-size: 20px;
    text-align: left;
    padding: 15px 10px 0px 10px;
    display: flex;
    justify-content: space-between;

}

.conteudoScreen3 input {
  margin: 0 auto;
  width: 564px;
  height: 46px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  color: #bababa;
  margin-top: 10px;
  font-size: 20px;
  padding-left: 20px;
}

strong {
  font-weight: 700;
}

.botaoProsseguir{
    background-color: #EC362D;
    font-size: 21px;
    color: #FFF5F4;
    margin: 0 auto;
    margin-top: 40px;
    width: 370px;
    height: 54px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;

}

.ocultar{
  height: 74px;
  overflow: hidden;
}
.ocultar h2{
  height: 74px;
}
.pergunta ion-icon{
  display: none;

}
.ocultar ion-icon{
  display: initial;
  cursor: pointer;
}

.incorreta{
  margin-bottom: 20px;
}

.divComecarQuizz{
padding: 10px 10px 20px 10px;
width: 600px;
margin: 0 auto;
margin-top: 20px;
background-color: #fff;
border: 1px solid black;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

@media (max-width: 1100px) {
  h1 {
    font-size: 20px;
  }

  .divComecarQuizz{
    width: 375px;
  }

  .conteudoScreen3 input{
    font-size: 19px;
    width: 341px;
    height: 46px;
  }

  .botaoProsseguir{
    width: 325px;
    font-size: 18px;
  }




}
