* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.topBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 69px;
  width: 100%;
  background-color: #ec362d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 37px;
  font-weight: 700;
  line-height: 43px;
  z-index: 1;
}

.contentQuizz {
  margin-top: 69px;
}

.boxAllQuizz {
  width: 1051px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.boxMyQuizzEmpty {
  margin-top: 107px;
}

.boxMyQuizzProject {
  width: 1051px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.myQuizz {
  background-color: #fafafa;
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
  width: 1051px;
  height: 181px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.myQuizz p {
  width: 200px;
  height: 20px;
  color: #b9b9b9;
  text-align: center;
  margin-bottom: 40px;
}

.allQuizz {
  width: 1051px;
  height: 181px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.createQuizz {
  cursor: pointer;
  width: 151px;
  height: 40px;
  border: 1px dashed #ec362d;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #ec362d;
}

.myCreatedQuizz {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.quizz {
  cursor: pointer;
  width: 340px;
  height: 181px;
  margin-bottom: 15px;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  border-radius: 5px;
  border: solid;
  border-color: #000000;
}

.quizz p {
  margin-left: 10px;
  color: #ffffff;
  width: 301px;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  word-break: break-all;
}

.title {
  display: flex;
  align-items: center;
}

.title h1 {
  margin-right: 10px;
}

.title ion-icon {
  color: #ec362d;
  font-size: 31px;
  cursor: pointer;
}

.hidden {
  display: none;
}

@media (max-width: 1100px) {
  .boxAllQuizz {
    width: 100%;
  }

  .boxMyQuizzProject {
    width: 100%;
  }

  .myQuizz {
    width: 100%;
  }

  .allQuizz {
    width: 100%;
  }

  .quizz {
    width: 100%;
    background-size: cover;
  }
}
